@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
:root {
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);
  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--DarkBlue);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh !important;
  /* text-align: center; */
}
.advice-card {
  background-color: var(--DarkGrayishBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 40%;
  padding: 3rem;
  border-radius: 10px;
  text-align: center;
}
.advice-id {
  color: var(--NeonGreen);
}
.advice-text {
  color: var(--LightCyan);
}
.dice,
.dice-img {
  background-color: var(--NeonGreen);
  cursor: pointer;
  transition: 0.2s ease-in;
}
.dice:hover {
  box-shadow: 2px 2px 40px 7px var(--NeonGreen);
}
