@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
:root {
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);
  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--DarkBlue);
}

.advice-card {
  background-color: var(--DarkGrayishBlue);
  border-radius: 10px;
  margin: 5rem 0.5rem;
}
/******************************/
.card-body {
  gap: 0.75em;
}
/**********************************/
.advice-id {
  color: var(--NeonGreen);
  font-size: small;
}
.advice-text {
  color: var(--LightCyan);
}
.dice,
.dice-img {
  background-color: var(--NeonGreen);
  cursor: pointer;
  transition: 0.2s ease-in;
}
.dice:hover {
  box-shadow: 2px 2px 40px 7px var(--NeonGreen);
}

/********************************/

/* large screens*/

@media (min-width: 768px) {
  .advice-card {
    max-width: 50%;
  }
}
